.header {
  height: 100px;
  width: 1430px;
  background-image: url("/images/back7.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1 {
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
